In [38]:
-- table 1

CREATE TABLE Institution(
    UNITID BIGINT PRIMARY KEY, -- IPEDS UNITID
    OPEID BIGINT UNIQUE, -- College Scorecard OPEID
    INSTNM VARCHAR(255) NOT NULL, -- Institution Name
    ACCREDAGENCY VARCHAR(255), -- Accreditation agency
    CONTROL INT CHECK (control IN (1, 2, 3)), -- Control of Institution
    REGION INT CHECK (region BETWEEN 0 AND 9), -- Region Code
    MAIN BOOLEAN, -- Main Campus Flag
    NUMBRANCH INT, -- # of Branch Campuses

    PREDDEG INT CHECK (PREDDEG IN (0, 1, 2, 3, 4)), -- Predominant Degree
    HIGHDEG INT CHECK (HIGHDEG IN (0, 1, 2, 3, 4)), -- Highest Degree

    ZIP VARCHAR(10), -- Zip Code
    CITY VARCHAR(30), -- City
    ADDR VARCHAR(100), -- Address
    LATITUDE DECIMAL, -- Latitude from IPEDS
    LONGITUD DECIMAL, -- Longitude from IPEDS

    FIPS INT, -- FIPS County Code
    CBSA INT, -- Census Based Statistical Area
    CBSATYPE INT, -- CBSA Type
    CSA INT, --
    C21BASIC INT,
    C21IPUG INT,
    C21IPGRD INT,
    C21UGPRF INT,
    C21ENPRF INT,
    C21SZSET INT,
    CREATED_AT DATE,
    UPDATED_AT DATE
);

In [39]:
-- table 2

CREATE TABLE Loan(
    LOAN_ID SERIAL PRIMARY KEY,
    OPEID BIGINT,
    CDR2 DECIMAL,
    CDR3 DECIMAL,
    YEAR INT,
    FOREIGN KEY (OPEID) REFERENCES Institution(OPEID),
    DBRR5_FED_UG_RT FLOAT
)

In [40]:
-- table 3

CREATE TABLE Graduation(
    GRADUATION_ID SERIAL PRIMARY KEY,
    OPEID BIGINT,
    YEAR INT,
    UGNONDS INT,
    GRADS INT,
    MD_EARN_WNE_4YR INT,
    FOREIGN KEY (OPEID) REFERENCES Institution(OPEID)
);

In [41]:
-- table 4

CREATE TABLE Faculty(
    FACULTY_ID SERIAL PRIMARY KEY,
    OPEID BIGINT,
    YEAR INT,
    AVGFACSAL INT,
   FOREIGN KEY (OPEID) REFERENCES Institution(OPEID)
);

In [42]:
-- table 5

CREATE TABLE Admission(
    ADMISSION_ID SERIAL PRIMARY KEY,
    OPEID BIGINT,
    YEAR INT,
    ADM_RATE FLOAT, -- TODO type check? admission rate
    SATCMMID INT, -- SAT average score, college scorecard
    ACTCMMID INT, -- ACT average score, college scorecard
    ADMCON7 VARCHAR , --  test score requirements. college scorecard
    FOREIGN KEY (OPEID) REFERENCES Institution(OPEID)
);

In [43]:
-- table 6

CREATE TABLE Tuition(
    TUITION_ID SERIAL PRIMARY KEY,
    OPEID BIGINT,
    YEAR INT,
    TUITIONFEE_IN INT, -- In-state tuition
    TUITIONFEE_OUT INT, -- Out-of-state tuition
    TUITIONFEE_PROG INT, -- tuition and fees for program-based institutions
    TUITFTE INT, -- tuition revenue per full time students
    COSTT4_A INT, -- ave cost of attendance, academic institutions
    COSTT4_P INT, -- ave cost of attendance, program institutions
    FOREIGN KEY (opeid) REFERENCES Institution(opeid)
);

In [37]:
 --DROP TABLE IF EXISTS graduation, faculty, admission, tuition, loan, institution;
-- code to drop table just in case

In [44]:
select * from loan limit 10;

loan_id,opeid,cdr2,cdr3,year,dbrr5_fed_ug_rt
1,100200,NULL,NULL,NULL,NULL
2,105200,NULL,NULL,NULL,NULL
3,2503400,NULL,NULL,NULL,NULL
4,105500,NULL,NULL,NULL,NULL
5,100500,NULL,NULL,NULL,NULL
6,800400,NULL,NULL,NULL,NULL
7,105100,NULL,NULL,NULL,NULL
8,100700,NULL,NULL,NULL,NULL
9,100800,NULL,NULL,NULL,NULL
10,831000,NULL,NULL,NULL,NULL